.entityul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.entityli {
  border: 1px solid black;
  float: left;
  padding: 12px;
}

.entityli a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
