<div class="gameHeader">

</div>
<div class="gameContent">
  <div class="flockPanel" [style.width]="appWidth + 'px'" [style.height]="appHeight + 'px'"
       style="position: relative; background-color: lightblue;">
    <div *ngFor="let tile of base.tiles"
         style="position: absolute; width: 50px; height: 50px; background-color: brown"
         [style.left]="tile.posX"
         [style.top]="tile.posY">
      {{tile.name}}
    </div>
    <div *ngFor="let actor of actors"
         style="position:absolute;width: 24px; height: 12px;"
         [style.left]="actor.posX"
         [style.top]="actor.posY"
         [style.transform]="actor.rotation"
         [ngClass]="actor.image"
    >
      {{actor.debugMsg}}
    </div>
  </div>
</div>
<entityselector></entityselector>
<div class="gameFooter">
  <button (click)="start()">Start</button>
</div>
<div>
  {{units}}
</div>
